* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    display: flex;
}

.header h1 {
    display: inline-block;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
} 

.header nav menu {
    list-style-type: none;
}

.header nav menu li {
    display: inline-block;
    margin-left: 25px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

main > aside {
    flex: 0 0 20%;
    text-align: left;
    border-right: 5px solid blue;
    border-bottom: 5px solid blue;
}

main aside {
    background-color: #b9c6ae;
    padding: 20px;
}

main > section {
    flex: 0 0 80%;
    background-color: #fff;
    padding: 20px;
    border-bottom: 5px solid blue;
}

.sections{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.card {
border-style: solid;
border-width: 1px;
padding: 10px;
float: left;
width: 25%;
}

.first_card {
    min-width: 200px;
    flex-basis: 150%;
    background-image: url("./assets/images/prework.png");
}

.card header {
padding: 20px;
font-size: 13pt;
font-weight: bold;
}

.card img {
width: 100%;
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin: 3px 3px 3px 0;
}

.footer{
    display: flex;
    padding: 30px;
    clear: both;
}  
.footer ul {
    list-style-type: none;
}

.footer ul li {
    display: inline-block;
    margin-left: 25px;
}

@media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
    header {
      background: #772014;
    }
}
  
@media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
    header {
      background: #8ac4ff;
    }
}